# ============================================
# DASC Server Manager - Perfil DUAL
# Instalación recomendada para PyME
# Servidor principal + servidor DASC/backups/logs
# ============================================

INSTALL_MODE=dual

SSH_USER=dasc

SERVICIOS_HOST=192.168.60.20
BACKUPS_HOST=192.168.60.30

CACTI_URL=/cacti/

LOGS_DB_HOST=192.168.60.30
LOGS_DB_NAME=dasc_logs
LOGS_DB_USER=dasc_logs
LOGS_DB_PASS=cambiar_password_logs
LOGS_ORIGIN=dasc-web

SECRET_KEY=cambiar_clave_secreta
ADMIN_USER=admin
ADMIN_PASSWORD=cambiar_password_admin
